body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
.app {
  background: #f4f4f4;
  min-height: 100vh;
  color: #000;
}
.app.dark {
  background: #222;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #2dd4bf;
  color: #fff;
}
nav {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  flex-wrap: wrap;
  background: #0ea5e9;
}
nav button {
    border-radius: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #1b1616;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.card {
  background: #e8d0d0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  flex: 1 1 250px;
}
.app.dark .card {
  background: #333;
}

input {

  margin-bottom: 5px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #6d1717;
}
button {
  margin: 5px 5px;
  padding: 5px 7px ;
  border-radius: 7px;
  cursor: pointer;
}
.error {
  color: #fb7185;
  font-size: 12px;
}
.success {
  color: #16a34a;
  font-weight: bold;
}
